body {
  padding: 0;
  margin: 0;
  font: 100% Helvetica, Arial;
}
table {
  border: 0;
  border-collapse: collapse;
}
.games {
  text-align: center;
}
.game {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 20px 30px 20px 30px;
  width: 256px;
  transition: all 0.5s ease-in-out;
}
/* this class is used for highlighting board with waiting for your move */
.game-active {
  background-color: rgba(0,0,0,0.1);
  box-shadow: rgba(0,0,0,0.35) 0 5px 5px -3px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #E6E6E6),
    color-stop(1, #F5F5F5)
  );
  background-image: -o-linear-gradient(top, #E6E6E6 0%, #F5F5F5 100%);
  background-image: -moz-linear-gradient(top, #E6E6E6 0%, #F5F5F5 100%);
  background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #F5F5F5 100%);
  background-image: -ms-linear-gradient(top, #E6E6E6 0%, #F5F5F5 100%);
  background-image: linear-gradient(to top, #E6E6E6 0%, #F5F5F5 100%);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.game-header {
  white-space: nowrap;
  margin: 0 0 0.75em 0;
}
.game-over .game-header {
  visibility: hidden;
}
.game-status {
  position: absolute;
  width: 100%;
  height: 100%;
}
.game-status-label {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #EDEDED)
  );
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
  box-shadow: rgba(0,0,0,0.25) 0 5px 15px 0;
  border-radius: 3px;
}
/* board styles */
.board-wrapper {
  position: absolute;
  top: 70px;
  left: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.board-header {
  font-style: italic;
  font-size: 0.8em;
  line-height: 1;
  letter-spacing: 0.1em;
  transform: rotate(-90deg);
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: -30px;
  text-shadow: #fff -1px 0 0;
}
.board {
  display: table;
  width: 240px;
  margin: 0 auto;
  box-shadow: #ededed 0 0 0 1px, #fff 0 0 0 8px, rgba(0,0,0,0.4) 0 3px 12px 6px;
}
.board-row {
  display: table-row;
}
.board-cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FCFCFC),
    color-stop(1, #FAFAFA)
  );
  background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #FAFAFA 100%);
  background-image: linear-gradient(to bottom, #FCFCFC 0%, #FAFAFA 100%);
}
.board-row:nth-child(odd) .board-cell:nth-child(even),
.board-row:nth-child(even) .board-cell:nth-child(odd) {
  background: #ededed;
}
/* captured box styles */
.captured {
  width: 256px;
  margin-top: 286px;
}
.captured-set {
  padding: 0 10px 10px 10px;
  box-shadow: rgba(0,0,0,0.1) 0 2px 4px 1px inset;
  background-color: #f3f3f3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.captured-table {
  display: table;
  padding-top: 0;
}
.captured-row {
  display: table-row;
}
.captured-cell {
  display: table-cell;
  text-align: left;
  padding-top: 10px;
}
.captured-header {
  font-weight: normal;
  font-size: 0.95em;
  margin: 2em 0 0.5em 0;
  text-shadow: #fff 0 1px 0;
}
.captured-score {
  font-size: 0.85em;
  padding-right: 20px;
  vertical-align: middle;
}
.captured-box {
  margin-left: -10px;
  text-align: left;
}
.captured-box .piece {
  margin: 10px 0 0 10px;
}
/* games features */
.game-checkers .board-row:nth-child(odd) .board-cell:nth-child(even),
.game-checkers .board-row:nth-child(even) .board-cell:nth-child(odd) {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #C4C4C4),
    color-stop(1, #E8E8E8)
  );
  background-image: -o-linear-gradient(top, #C4C4C4 0%, #E8E8E8 100%);
  background-image: -moz-linear-gradient(top, #C4C4C4 0%, #E8E8E8 100%);
  background-image: -webkit-linear-gradient(top, #C4C4C4 0%, #E8E8E8 100%);
  background-image: -ms-linear-gradient(top, #C4C4C4 0%, #E8E8E8 100%);
  background-image: linear-gradient(to top, #C4C4C4 0%, #E8E8E8 100%);
}
.game-chess .board-row:nth-child(odd) .board-cell:nth-child(even),
.game-chess .board-row:nth-child(even) .board-cell:nth-child(odd) {
  background: #DAECD9;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #C1F0BD),
    color-stop(1, #DAECD9)
  );
  background-image: -o-linear-gradient(top, #C1F0BD 0%, #DAECD9 100%);
  background-image: -moz-linear-gradient(top, #C1F0BD 0%, #DAECD9 100%);
  background-image: -webkit-linear-gradient(top, #C1F0BD 0%, #DAECD9 100%);
  background-image: -ms-linear-gradient(top, #C1F0BD 0%, #DAECD9 100%);
  background-image: linear-gradient(to top, #C1F0BD 0%, #DAECD9 100%);
  box-shadow: rgba(0,0,0,0.1) 0 0 2px 0px inset;
}
.game-othello .board-row:nth-child(odd) .board-cell:nth-child(even),
.game-othello .board-row:nth-child(even) .board-cell:nth-child(odd) {
  background: #DAECD9;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, #C1F0BD),
    color-stop(1, #D8F5D5)
  );
  background-image: -o-linear-gradient(right bottom, #C1F0BD 0%, #D8F5D5 100%);
  background-image: -moz-linear-gradient(right bottom, #C1F0BD 0%, #D8F5D5 100%);
  background-image: -webkit-linear-gradient(right bottom, #C1F0BD 0%, #D8F5D5 100%);
  background-image: -ms-linear-gradient(right bottom, #C1F0BD 0%, #D8F5D5 100%);
  background-image: linear-gradient(to right bottom, #C1F0BD 0%, #D8F5D5 100%);
  box-shadow: rgba(0,0,0,0.1) 0 0 2px 0px inset;
}
.game-checkers .piece,
.game-othello .piece {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.25s ease-in;
}
.game-checkers .piece.black {
  color: #000;
  background-color: #000;
  box-shadow: rgba(255,255,255,0.5) 0 0 0 1px inset,
              rgba(255,255,255,0.25) 0 0 0 3px inset,
              rgba(255,255,255,0.15) 0 0 0 5px inset,
              rgba(0,0,0,0.25) 0 2px 1px 0;
}
.game-checkers .piece.red {
  color: red;
  background-color: red;
  box-shadow: rgba(255,255,255,0.7) 0 0 0 1px inset,
              rgba(255,255,255,0.45) 0 0 0 3px inset,
              rgba(0,0,0,0.25) 0 2px 1px 0;
}
.game-othello .piece.black {
  color: #111;
  background-color: #111;
  box-shadow: rgba(255,255,255,0.5) 0 0 0 1px inset,
  rgba(255,255,255,0.25) 0 0 0 3px inset,
  rgba(255,255,255,0.15) 0 0 0 5px inset,
  rgba(0,0,0,0.25) 0 2px 1px 0;
}
.game-othello .piece.white {
  color: #e9e9e9;
  background-color: #e7e7e7;
  box-shadow: rgba(255,255,255,0.7) 0 0 0 1px inset,
  rgba(255,255,255,0.45) 0 0 0 3px inset,
  rgba(0,0,0,0.25) 0 2px 1px 0;
}
.game-othello .captured-box {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 2em;
  margin: 10px 0 0 0;
  box-shadow: rgba(0,0,0,0.2) 0 0 0 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.game-othello .captured-box.white {
  background: #fff;
  color: #111;
}
.game-othello .captured-box.black {
  background: rgba(0,0,0,0.75);
  color: #fff;
}

.fl {float: left;}
.fr {float: right;}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

@media all and (max-width: 768px) {
  .games {
    width: 320px;
    margin: 0 auto;
  }
  .game {
    box-shadow: rgba(0,0,0,0.1) 0 0 0 1px;
    border-radius: 3px;
    margin: 0.5em 0 2em 0;
  }
  .game-header {
    margin-bottom: 0.5em;
  }
  .captured {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  .captured-header {
    margin-top: 1em;
  }
  .board-wrapper {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 25px;
  }
  .board-header {
    left: 0;
    bottom: -30px;
    transform: rotate(0deg);
    text-shadow: #fff 0 1px 0;
  }
}
@media all and (max-width: 350px) {
  .game {
    padding: 10px 15px 15px 15px;
  }
}